.header {
  grid-area: header;
  padding: 20px;
  background-color: green;
}

.logo {
  width: 30px;
}

.authBlock {
  float: right;
  color: #fff;
}

.authBlock a {
  color: #fff;
}

.avatar {
  margin-left: 10px;
  width: 20px;
}
