.sidebar {
  background-color: purple;
  padding-bottom: 80px;
}

.nav {
  grid-area: nav;
  padding: 10px;
  margin-bottom: 80px;
}

.item a {
  color: #fff;
}

.item a.active {
  color: gold;
}

.friendsTitle {
  display: block;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 10px;
}

.friends {
  display: flex;
  color: #fff;
  padding-left: 10px;
}

.avatar {
  border-radius: 50%;
}

.friend {
  margin-right: 10px;
}
