a {
  text-decoration: none;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    'header header'
    'nav content';
}

.content {
  grid-area: content;
  background-color: rgb(46, 135, 161);
}
