.dialogs {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.dialogsItems {
  padding: 10px;
}

/* .dialog {
} */

.dialog.active {
  color: gold;
}

.messages {
  padding: 10px;
  color: greenyellow;
}

.message:nth-child(even) {
  text-align: right;
  color: #fff;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  padding: 5px;
}
